{# Looking fot these files in given path #} {% use
'_metas-and-scripts.html.twig' %} {% use '_header-and-share.html.twig' %} {% use
'_html-elements.html.twig' %}

<!DOCTYPE html>

<html lang="fr" class="h-full relative">
  <head>
    
    {{
      block("consent")
    }} 
    

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@600&display=swap" rel="stylesheet"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/main.css" />
    <!-- <link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" /> -->

    {#
    <?php include 'hb_card_tp.php'; ?>
    #}
    {{
      block("head_brand")
    }}
  </head>
  <!-- OneTrust Cookies Consent Notice start for blick.ch -->
  <!-- <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" data-document-language="true" type="text/javascript" charset="UTF-8" data-domain-script="d57e5842-f42f-46bc-a4ea-4a82bd82322c" ></script>
	<script type="text/javascript">
	function OptanonWrapper() { } 
	</script> -->
  <!-- OneTrust Cookies Consent Notice end for blick.ch -->
  {#
  {{
    block("frame")
  }}
  #}
  <body class="bg-white h-full">
    <div class="wrapper bg-slate-100">
      <!-- {{ block('loading_overlay') }} -->
      {{ block("gtm") }}

      {{ block("header") }}
      {{ block("menu_overlay") }}

      <div
        class="hero container max-w-screen-2xl md:flex flex-row relative overflow-hidden"
      >
        <!-- Video Background -->
        <div class="video-wrapper absolute inset-0 w-full h-full">
			<video data-src="https://player.vimeo.com/progressive_redirect/playback/1061985911/rendition/1080p/file.mp4?loc=external&signature=85da8ca73e2c63136e77a21dd636f1a16c168ce54ffa3022f4c7076f294c4f65&user_id=196343104"
				class="w-full h-full object-cover video-js"
				autoplay muted loop playsinline
				poster="img/this/poster-marche.jpg">
				<source type="video/mp4"/>
			</video>
			<!-- Fallback for browsers that don't support video -->
			<div class="video-placeholder absolute inset-0 w-full h-full bg-cover bg-center"
				style="background-image: url('img/this/poster-marche.jpg')">
			</div>
		</div>
		

        <!-- Hero Content -->
          <h1 class=" absolute text-black -bottom-6 left-0 p-4 pb-5 md:p-6">
            Cette île que Trump <br>veut prendre par <br>la force
          </h1>

      </div>

      <!-- <div class="hero max-w-screen-2xl mx-auto">

		</div> -->

      <div class="container max-w-screen-2xl px-4 relative bg-white">
        <script async src="//www.instagram.com/embed.js"></script>

        
        <div class="container max-w-2xl">
          <div class="chapeau container py-8 max-w-2xl">
            <h2 class="text-xl md:text-2xl mt-2 md:mt-12">
				Depuis que le président américain a annoncé son intention de s’emparer du Groenland, le monde a les yeux rivés sur cette île arctique. Donald Trump, une menace ou une opportunité pour ce peuple en quête d’indépendance? En immersion et en multimédia, Blick vous emmène à la rencontre de ses habitants. Reportage.
            </h2>
          </div>

         


		  <div class="container flex py-4 max-w-2xl border-y">
			<div class="author w-36 md:w-52 md:mr-4">		<span class="flex items-center">
					<img src="https://storytelling.blick.ch/fr/__is_embed_somewhere/img/alessia-barbezat.png" alt="Portrait de&nbsp;Alessia&nbsp;Barbezat" class="hidden md:block rounded-full w-12 mr-2.5">
					<div class="align-text-bottom text-xs">
						<span class="inline-block font-extrabold"><a href="https://www.blick.ch/fr/auteurs/alessia-barbezat-journaliste-blick-id19642404.html" target="_blank" class="underline">Alessia Barbezat</a></span>
						<span class="inline-block">Journaliste Blick</span>
					</div>
				</span>	</div> 
				<div class="author w-36 md:w-52">		<span class="flex items-center">
					<img src="https://storytelling.blick.ch/fr/__is_embed_somewhere/img/niels-ackermann.png" alt="Portrait de&nbsp;Alessia&nbsp;Barbezat" class=" hidden md:block rounded-full w-12 mr-2.5">
					<div class="align-text-bottom text-xs">
						<span class="inline-block font-extrabold"><a href="https://www.lundi13.ch/niels-ackermann" target="_blank" class="underline">Niels Ackermann</a></span>
						<span class="inline-block">Photographe/ Lundi13</span>
					</div>
				</span>	</div>
		</div>


		  <div class="mt-8 -mx-0 lg:-mx-32 xl:-mx-64 relative aspect-video">
			<iframe 
			
			  src="https://player.vimeo.com/video/1061983330?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" 
			  class="absolute top-0 left-0 w-full h-full"
			  frameborder="0"
			  allow="autoplay; fullscreen; clipboard-write; encrypted-media" 
			  title="Alessia Plan 2">
			</iframe>
		  </div>


		  

		 

          <p class="lettrine text-lg font-light mt-8 mb-6">
            L’île arctique est la nouvelle lubie de Donald Trump. Depuis son retour à la Maison-Blanche, le président ne cache plus ses ambitions expansionnistes. Devant le Congrès à Washington, mardi 5 mars, il a réaffirmé sa volonté de récupérer ce territoire «d’une manière ou d’une autre».
          </p>

		  <figure class="pt-4 mx-0 pb-6">
			<div class="container">
			  <div class="w-full">
				<img src="img/this/groenland_intro_bord.jpg" alt="Au mur, de l'humour et de la prévention sur fond acidulé">
				<figcaption class="py-2 text-xs">L’île arctique de 2,2 millions de km² attire toutes les convoitises, pour son positionnement stratégique et pour ses ressources naturelles.
				</figcaption>
			  </div>
			</div>
		</figure>

        <div class="container max-w-2xl relative">
          <p class="text-lg font-light mb-6">
			Avec sa position stratégique – entre l’Europe et l’Amérique du Nord – et ses ressources souterraines encore inexploitées, le Groenland attise les convoitises internationales. Mais les Groenlandais n’entendent pas se laisser faire. Depuis des années, ce territoire semi-autonome rêve de s’émanciper de la tutelle du Danemark.
		</p>

		  
        </div>

      

          <p class="text-lg font-light mb-16 md:mb-20">
			Ni danoise ni américaine, l’île aspire à l’indépendance. À quelques jours des élections législatives, Blick s’est rendu à Nuuk, la plus petite capitale du monde, à la rencontre de ses habitants. Suivez-nous sur place.
		</p>
        </div>

       

       	<!-- ch1 vid -->
		<div class="-mx-4 md:flex flex-row relative overflow-hidden aspect-square md:aspect-video">
			<!-- Video Wrapper -->
			<div class="video-wrapper absolute inset-0 h-full">
				<!-- Video Background -->
				<video data-src="https://player.vimeo.com/progressive_redirect/playback/1061985297/rendition/1080p/file.mp4?loc=external&signature=edcaa2f8b4a92e44d94a3c3c7a01c2001a02e6f5e26fe6cb3d08be0be2e9a2ed&user_id=196343104" 
					class="w-full h-full object-cover video-js"
					autoplay muted loop playsinline 
					poster="img/this/poster-dezoom.jpg">
					<source type="video/mp4"/>
				</video>
				<!-- Placeholder (image de fond affichée avant le chargement de la vidéo) -->
				<div class="video-placeholder absolute inset-0 w-full h-full bg-cover bg-center"
					style="background-image: url('img/this/poster-dezoom.jpg')">
				</div> 
			</div>
		</div>

		<!-- ch1 txt -->
		<div class="container mt-8 max-w-2xl relative"> 
			<div class="text-center -mt-20 bg-white text-2xl md:text-5xl font-extrabold md:-mx-6 px-6 py-4 md:py-8  mb-4 md:mb-6"
			> 
				<span>«Le fils groenlandais de Donald Trump»</span>
			  
			</div>  
  
			<p class="lettrine text-lg font-light mb-6">
				Jørgen Boassen peut le savourer, son Pepsi max. Une boisson au petit goût de revanche pour ce fan de Donald Trump de la première heure. Au Bones, réplique d'un <i>diner</i> américain coincé dans le centre commercial de Nuuk – la capitale du Groenland – ce maçon de 50 ans n'est pas peu fier de raconter comment il a accueilli Donald Trump Junior en janvier dernier sur cette immense île arctique.
			</p>  

			<!-- DOUBLE -->
			<figure class="-mx-0 lg:-mx-32 xl:-mx-64 pt-4 pb-6">
				<div class="grid gap-4 md:grid-cols-2">
				  <div class="">
					<img
					  src="img/this/groenland_ch1_village.jpg"
					  alt="Les cahiers de sébastien, sous l'emprise de la drogue"
					/>
					<!-- <figcaption class="py-2 text-xs">
					  Dans la partie laboratoire du bâtiment de Carrouge, Arnaud
					  Porta, diplômé en biologie de l'Université de Lausanne (UNIL),
					  aide un collaborateur à réaliser une huile de CBD.
					</figcaption> -->
				  </div>
				  <div class="">
					<img
					  src="img/this/groenland_ch1_village2.jpg"
					  alt="Les cahiers de sébastien, sous l'emprise de la drogue"
					/>
					<!-- <figcaption class="py-2 text-xs">
					  Chaque geste et chaque mesure compte. Arnaud Porta connaît ses
					  outils et veille au grain.
					</figcaption> -->
				  </div>
				</div>
				<figcaption class="py-2 text-xs">Nuuk («le cap» en groenlandais) est la plus petite capitale du monde avec ses 20'000 habitants, mais aussi celle située le plus au nord de la planète, à 240 km au sud du cercle polaire arctique.</figcaption>
			  </figure>
  
			
  
			<p class="text-lg font-light mb-6">
				À l'extérieur, le thermomètre affiche moins 12 degrés. Les rares passants emmitouflés de pied en cap tentent tant bien que mal de garder l'équilibre sur les trottoirs verglacés de la plus petite capitale du monde (20'000 habitants), située à 240 km au sud du cercle polaire arctique. Jørgen Boassen, lui, se pavane en T-shirt noir siglé «American Badass», ravi de son petit effet. Imprimé sur le bout de tissu: le visage ensanglanté de son idole, poing levé, quelques secondes après avoir réchappé à la tentative d'assassinat contre lui.
			</p>

			<figure class="pt-4 mx-0 pb-6 -mx-0 lg:-mx-32 xl:-mx-64">
				<div class="container">
				  <div class="w-full">
					<img
					  src="img/this/groenland_ch1_mec.jpg"
					  alt="Au mur, de l'humour et de la prévention sur fond acidulé"
					/>
					<figcaption class="py-2 text-xs">Jørgen Boassen est fier de son coup. Ce maçon de 50 ans, trumpiste de la première heure, a organisé la visite «privée» de Donald Trump Jr. au Groenland. Une visite qui a fait grincer des dents sur l’île et dans le monde entier.
					</figcaption>
				  </div>
				</div>
			</figure>  
  
		
  
			<p class="text-lg font-light mb-6">
				Son histoire, Jørgen Boassen, la déroule d'une traite. C'est qu'il l'a déjà débitée des dizaines  de fois à des journalistes venus du monde entier, intrigués par ce personnage devenu une star locale. «Quand j'ai commencé à afficher mon soutien pour Trump sur Facebook en 2016, on se fichait de ma poire. J'étais le seul ici. Je passais pour un rigolo», dit-il amusé, appuyé contre la banquette du diner. 
			</p>

			<p class="text-lg font-light mb-6">
				Le 6 novembre, Jørgen Boassen assiste au triomphe de Donald Trump, au Palm Beach County Convention Center, en Floride. L'occasion pour lui de serrer la main au fils du 47ᵉ président américain et d'échanger son numéro avec le leader d'extrême droite britannique et artisan du Brexit, Nigel Farage. «On s'appelle de temps en temps», glisse-t-il, l'air de rien. 
			</p>

			<p class="text-lg font-light mb-6">
				Début janvier 2025, Charlie Kirk, un influenceur conservateur ultra-populaire aux USA, le contacte. «Il m'a demandé de réunir un petit groupe de personnes pour accueillir 'Don Jr.' à l'aéroport et lui montrer la ville». Jørgen Boassen s'exécute. Et le 7 janvier, un Boeing 757 estampillé «Trump», se pose sur le tarmac gelé de la métropole arctique avec, à son bord, le fils de, pour une visite «privée» qui a fait polémique et grand bruit.
			</p>

			<!-- DOUBLE -->
			<figure class="-mx-0 lg:-mx-32 xl:-mx-64 pt-4 pb-6">
				<div class="grid gap-4 md:grid-cols-2">
				  <div class="">
					<img
					  src="img/this/groenland_ch1_trump1.jpg"
					  alt="Les cahiers de sébastien, sous l'emprise de la drogue"
					/>
					<!-- <figcaption class="py-2 text-xs">
					  Dans la partie laboratoire du bâtiment de Carrouge, Arnaud
					  Porta, diplômé en biologie de l'Université de Lausanne (UNIL),
					  aide un collaborateur à réaliser une huile de CBD.
					</figcaption> -->
				  </div>
				  <div class="">
					<img
					  src="img/this/groenland_ch1_trump2.jpg"
					  alt="Les cahiers de sébastien, sous l'emprise de la drogue"
					/>
					<!-- <figcaption class="py-2 text-xs">
					  Chaque geste et chaque mesure compte. Arnaud Porta connaît ses
					  outils et veille au grain.
					</figcaption> -->
				  </div>
				</div>
				<figcaption class="py-2 text-xs">L’avion de Donald Trump Jr., le fils du président américain, le 7 janvier 2025 sur la piste de l’aéroport de Nuuk. Une «visite privée» qui a fait jaser sur l’île et dans le monde entier. Photos – IMAGO


				</figcaption>
			  </figure>
  
			<!-- <figure class="float-right pt-4 pb-6 -mx-0 lg:-mx-32 xl:-mx-64">
			  <div class="container">
				<div class="w-full">
				  <img
					src="img/this/ch2_huile_box.jpg"
					alt="Au mur, de l'humour et de la prévention sur fond acidulé"
				  />
				  <figcaption class="py-2 text-xs">
					Les produits de Green Brothers, ici de l'huile de CBD, sont
					distribués dans une trentaine de pays.
				  </figcaption>
				</div>
			  </div>
			</figure> -->

			<p class="text-lg font-light mb-6">
				Ni le gouvernement groenlandais, encore moins celui du Danemark, n'ont été prévenus. La veille, Donald Trump déclarait sur son réseau social «Truth» que «la propriété et le contrôle du Groenland [étaient] une nécessité absolue pour la sécurité nationale et la liberté à travers le monde». Quitte à envisager de l'annexer par la force.
			</p>

			<p class="text-lg font-light mb-6">
				Un scénario hautement improbable pour Jørgen Boassen. ««On ne va pas devenir le 51e Etat des USA. Trump ne nous veut que du bien. La preuve? Il veut la paix avec la Russie. Je peux vous dire que si Kamala Harris avait été élue, c'était la garantie d'une Troisième Guerre mondiale!»
			</p> 

			<div class="mt-8 -mx-0 lg:-mx-32 xl:-mx-64 relative aspect-video mb-8">
				<iframe 
				  src="https://player.vimeo.com/video/1063120971?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" 
				  class="absolute top-0 left-0 w-full h-full"
				  frameborder="0"
				  allow="autoplay; fullscreen; clipboard-write; encrypted-media" 
				  title="Alessia Plan 2">
				</iframe>
			</div>

			<!-- <figure class="pt-4 mx-0 pb-6">
				<div class="container">
				  <div class="w-full">
					<img
					  src="img/this/groenland_ch1_statue.jpg"
					  alt="Au mur, de l'humour et de la prévention sur fond acidulé"
					/>
					<figcaption class="py-2 text-xs">Annelore allume le bong et s'apprête à s'envoler vers son paradis artificiel. </figcaption>
				  </div>
				</div> 
			</figure>  -->

			<p class="text-lg font-light mb-6">
				La veille de notre rencontre à Nuuk, l'extrême droite a réalisé une percée historique aux législatives allemandes. La nouvelle réjouit le Groenlandais. «Je suis contre l'ouverture des frontières en Europe et aux USA. L'Europe n'est plus l'Europe. On ne peut plus critiquer les politiciens. La liberté et la liberté d'expression n'existent plus», déplore cet ex-boxeur.
			</p>

			<p class="text-lg font-light mb-6">
				Sur l'île, la récente popularité de Jørgen Boassen fait grincer des dents. On le traite de «nazi», de «traître» ou d'«opportuniste». Il s'en soucie comme d'une guigne. Ce qui l'importe? Développer son business. «J'ai beaucoup de boulot avec les Américains. Les compagnies minières m'appellent pour que je les aide à trouver de bons contacts ici, lâche-t-il énigmatique.»
			</p>
  
			<p class="text-lg font-light mb-16 md:mb-20">
				Il repose son Pepsi Max. En avril, Jørgen Boassen s'envolera pour Mar-a-Lago. 

			</p>
		</div>

		

		<!-- ch2 vid -->
		<div class="-mx-4 md:flex flex-row relative overflow-hidden aspect-square md:aspect-video">
			<!-- Video Wrapper -->
			<div class="video-wrapper absolute inset-0 h-full">
				<!-- Video Background -->
				<video data-src="https://player.vimeo.com/progressive_redirect/playback/1061985121/rendition/1080p/file.mp4?loc=external&signature=092583ddb37c3f468fb358dd9eb1a092484e752cdeeca6d60a47738814aab9fc&user_id=196343104" 
					class="w-full h-full object-cover video-js"
					autoplay muted loop playsinline 
					poster="img/this/poster-bateau.jpg">
					<source type="video/mp4"/>
				</video>
				<!-- Placeholder (image de fond affichée avant le chargement de la vidéo) -->
				<div class="video-placeholder absolute inset-0 w-full h-full bg-cover bg-center"
					style="background-image: url('img/this/poster-bateau.jpg')">
				</div> 
			</div>
		</div>

		<!-- ch2 txt -->
		<div class="container mt-8 max-w-2xl relative"> 
			<div class="text-center -mt-20 bg-white text-2xl md:text-5xl font-extrabold md:-mx-6 px-6 py-4 md:py-8  mb-4 md:mb-6"
			> 
				<span>Sous la glace, des trésors</span>
			  
			</div>
  
			<p class="lettrine text-lg font-light mb-6">
				Cela fait des années que l'île arctique aux 57'000 habitants, dont la population est composée à 90% d'Inuits, se trouve dans le viseur du nouveau boss de la première puissance mondiale. En 2019, déjà, Donald Trump souhaitait acheter ce territoire semi-autonome, placé sous la souveraineté du Danemark depuis 1814.
			</p>

			<p class="text-lg font-light mb-6">
				Le monde avait ri. Aujourd'hui, plus personne ne rit quand l'homme à la mèche peroxydée menace de s'en emparer par la force. Plus proche de New York que de Copenhague, le Groenland («terre verte») abrite une base militaire américaine, dans le nord-ouest de l'île, à Pituffik, depuis 1943. Une position éminemment stratégique, le territoire étant la trajectoire la plus courte pour le tir de missiles vers la Russie.
			</p>

			<!-- DOUBLE -->
			<figure class="-mx-0 lg:-mx-32 xl:-mx-64 pt-4 pb-6">
				<div class="grid gap-4 md:grid-cols-2">
				  <div class="">
					<img
					  src="img/this/groenland_ch2_glace.jpg"
					  alt="Les cahiers de sébastien, sous l'emprise de la drogue"
					/>
					<!-- <figcaption class="py-2 text-xs">
					  Dans la partie laboratoire du bâtiment de Carrouge, Arnaud
					  Porta, diplômé en biologie de l'Université de Lausanne (UNIL),
					  aide un collaborateur à réaliser une huile de CBD.
					</figcaption> -->
				  </div>
				  <div class="">
					<img
					  src="img/this/groenland_ch2_glace_port.jpg"
					  alt="Les cahiers de sébastien, sous l'emprise de la drogue"
					/>
					<!-- <figcaption class="py-2 text-xs">
					  Chaque geste et chaque mesure compte. Arnaud Porta connaît ses
					  outils et veille au grain.
					</figcaption> -->
				  </div>
				</div>
				<figcaption class="py-2 text-xs">Avec la vague de froid polaire, les bateaux à restent à quai et l'île tourne au ralenti.</figcaption>
			  </figure>
  
			<p class="text-lg font-light mb-6">
			  Avec le réchauffement climatique, la banquise fond et les appétits de la Chine, de la Russie et des USA s'aiguisent, plaçant l'île à l'épicentre stratégique des nouvelles routes commerciales polaires reliant l'océan Pacifique à l'océan Atlantique. 
			</p>

			<figure class="pt-4 mx-0 pb-6">
			  <div class="container">
				<div class="w-full">
				  <img
					src="img/this/groenland_ch2_scientifique_neige.jpg"
					alt="Au mur, de l'humour et de la prévention sur fond acidulé"
				  />
				  <figcaption class="py-2 text-xs">Mie S. Winding, devant l’Institut des ressources naturelles du Groenland. Cette scientifique étudie l’impact du réchauffement climatique sur les écosystèmes marins.
				  </figcaption>
				</div>
			  </div>
			</figure>

			<p class="text-lg font-light mb-6">
				«Au Groenland, la température grimpe quatre fois plus vite que dans le reste du monde, explique la chercheuse Mie S. Winding, dans son bureau à l'Institut des ressources naturelles du Groenland. Et les conséquences sont très visibles, il suffit de regarder par la fenêtre.» Au loin, le fjord dans lequel une masse de glaces flottantes se bousculent, poussées par les vents et les courants. «Les glaciers fondent et les blocs se détachent. Rien d'anormal en été, mais nous sommes au mois de février», déplore la scientifique.
			</p>

			<p class="text-lg font-light mb-6">
				Si l'île de 2,2 millions de km², recouverte à 80% de glaces, attire toutes les convoitises, c'est aussi pour les ressources naturelles dont son sous-sol regorge (zinc, charbon, or, platine, rubis, uranium, nickel, cuivre, minerai de fer...) et ses terres rares – des métaux et des composés métalliques – indispensables aux énergies vertes et aux nouvelles technologies comme les batteries électriques ou les éoliennes.
			</p>
  
			<!-- DOUBLE -->
			<figure class="-mx-0 lg:-mx-32 xl:-mx-64 pt-4 pb-6">
			  <div class="grid gap-4 md:grid-cols-2">
				<div class="">
				  <img
					src="img/this/groenland_ch2_pecheur.jpg"
					alt="Les cahiers de sébastien, sous l'emprise de la drogue"
				  />
				  <!-- <figcaption class="py-2 text-xs">
					Dans la partie laboratoire du bâtiment de Carrouge, Arnaud
					Porta, diplômé en biologie de l'Université de Lausanne (UNIL),
					aide un collaborateur à réaliser une huile de CBD.
				  </figcaption> -->
				</div>
				<div class="">
				  <img
					src="img/this/groenland_ch2_pecheur_etalage.jpg"
					alt="Les cahiers de sébastien, sous l'emprise de la drogue"
				  />
				  <!-- <figcaption class="py-2 text-xs">
					Chaque geste et chaque mesure compte. Arnaud Porta connaît ses
					outils et veille au grain.
				  </figcaption> -->
				</div>
			  </div> 
			  <figcaption class="py-2 text-xs">Le fjord étant bloqué par des blocs de glace charriés par le vent, les pêcheurs sont au chômage technique depuis deux semaines. "Avec ces températures, le poisson gèle à sa sortie de l'eau" confie Martan, un pêcheur nettoyant son bateau. Conséquence: les étals du marché aux poissons de Nuuk sont vides.</figcaption>
			</figure>
  
			<p class="text-lg font-light mb-6">
				Selon les estimations, la «terre verte» hébergerait entre 12 et 20% des réserves de la planète d'éléments de terres rares alors qu'aujourd'hui 90% de la production mondiale provient de Chine. Un trésor encore inexploité qui fait saliver les compagnies minières, essentiellement des groupes australiens, canadiens, américains et britanniques.
			</p>

			<p class="text-lg font-light mb-6">
				Et cela, Donald Trump l'a bien compris. «Il n'y a aucun doute. Il veut mettre la main sur nos terres rares», prévient Maliina Abelsen, ancienne ministre des Finances (2011- 2013) et présidente de Royal Greenland, une société publique de pêche – la plus grande entreprise du territoire.
			</p>
  
			<figure class="float-right pt-4 pb-6 -mx-0 lg:-mx-32 xl:-mx-64">
			  <div class="container">
				<div class="w-full">
				  <img
					src="img/this/groenland_ch2_malina.jpg"
					alt="Au mur, de l'humour et de la prévention sur fond acidulé"
				  />
				  <figcaption class="py-2 text-xs">
					Au Katuaq, le centre culturel de Nuuk, Maliina Abelsen, cette sociologue s'inquiète des menaces de Trump tout en admettant que cette disruption pourrait permettre au Groenland de redéfinir ses relations avec le Danemark.
				  </figcaption>
				</div> 
			  </div>
			</figure>

			<p class="text-lg font-light mb-6">
				La presque quinquagénaire nous a donné rendez-vous au Katuaq, le centre culturel de Nuuk, un bâtiment de verre et de bois aux façades ondulées, dont la forme rappelle celle d'une aurore boréale. Si elle avoue son inquiétude, cette sociologue de formation reconnaît au président américain quelques fulgurances. «Ses méthodes sont particulières, mais il est loin d'être stupide. Il n'a pas tort lorsqu'il affirme que le Danemark n'a pas les moyens militaires d'assurer notre défense. Je ne suis pas une fan du bonhomme, mais il vient bousculer les relations entre le Groenland et le Danemark. Et ceci est peut-être une opportunité pour redéfinir nos liens avec l'autorité souveraine.»
			</p>
  
			<p class="text-lg font-light mb-16 md:mb-20">
				Maliina Abelsen regarde les flocons tomber. Elle le sait: «Il n'y a pas free lunch dans le monde de Trump. Le Groenland devra en payer le prix. Et j'avoue que ça m'inquiète.»
			</p>
		</div>

		<!-- ch3 vid -->
		<div class="-mx-4 md:flex flex-row relative overflow-hidden aspect-square md:aspect-video">
			<!-- Video Wrapper -->
			<div class="video-wrapper absolute inset-0 h-full">
				<!-- Video Background -->
				<video data-src="https://player.vimeo.com/progressive_redirect/playback/1061987795/rendition/1080p/file.mp4?loc=external&signature=bcfb4edd934d11ab3e73be19b672c06586d27eccd038d123f38c1d9f47abb15e&user_id=196343104" 
					class="w-full h-full object-cover video-js"
					autoplay muted loop playsinline 
					poster="img/this/poster-colline.jpg">
					<source type="video/mp4"/>
				</video>
				<!-- Placeholder (image de fond affichée avant le chargement de la vidéo) -->
				<div class="video-placeholder absolute inset-0 w-full h-full bg-cover bg-center"
					style="background-image: url('img/this/poster-colline.jpg')">
				</div> 
			</div>
		</div>

		<!-- ch3 txt -->
		<div class="container mt-8 max-w-2xl relative"> 
			<div class="text-center -mt-20 bg-white text-2xl md:text-5xl font-extrabold md:-mx-6 px-6 py-4 md:py-8  mb-4 md:mb-6"
			>
			Le prix de l’indépendance
			</div>
  
			<p class="lettrine text-lg font-light mb-6">
				Ce jeudi 27 février, plus de 200 personnes ont bravé le froid pour défiler au pied de la colline sur laquelle se dresse la statue de granit d'Hans Egede, le missionnaire danois fondateur de la colonie du Groenland en 1721. 
			</p>
  
			<figure class="pt-4 mx-0 pb-6">
			  <div class="container">
				<div class="w-full">
				  <img
					src="img/this/groenland_ch3_christ.jpg"
					alt="Au mur, de l'humour et de la prévention sur fond acidulé"
				  />
				  <figcaption class="py-2 text-xs">La statue de granit de Hans Egede, un missionnaire danois fondateur de la colonie du Groenland en 1721, surplombe Nuuk, la capitale. Ce qui n’est plus vraiment du goût des quelque 20'000 habitants, à majorité inuite, qui rêvent de s’émanciper du Danemark.</figcaption>
				</div>
			  </div>
			</figure>
  
			<p class="text-lg font-light mb-6">
				Scotch sur la bouche et pancartes «Inuits Lives Matter» («La vie des Inuits compte») à la main, elles dénoncent le racisme et la discrimination dont elles se sentent victimes de la part de l’autorité souveraine. En cause, la diffusion par la radiotélévision danoise d’un documentaire controversé sur les sommes engrangées par la couronne grâce à une ancienne mine du Groenland. Un documentaire suivi, dans la foulée, d’un sketch satirique jugé raciste. Qui n’est pas passé.
			</p>
  
			<!-- DOUBLE -->
			<figure class="-mx-0 lg:-mx-32 xl:-mx-64 pt-4 pb-6">
			  <div class="grid gap-4 md:grid-cols-2">
				<div class="">
				  <img
					src="img/this/groenland_ch3_manif_face.jpg"
					alt="Les cahiers de sébastien, sous l'emprise de la drogue"
				  />
				  <!-- <figcaption class="py-2 text-xs">
					Dans la partie laboratoire du bâtiment de Carrouge, Arnaud
					Porta, diplômé en biologie de l'Université de Lausanne (UNIL),
					aide un collaborateur à réaliser une huile de CBD.
				  </figcaption> -->
				</div>
				<div class="">
				  <img
					src="img/this/groenland_ch3_manif_drapeau.jpg"
					alt="Les cahiers de sébastien, sous l'emprise de la drogue"
				  />
				  <!-- <figcaption class="py-2 text-xs">
					Chaque geste et chaque mesure compte. Arnaud Porta connaît ses
					outils et veille au grain.
				  </figcaption> -->
				</div>
			  </div>
			  <figcaption class="py-2 text-xs">Jeudi 27 février, à Nuuk. Plus de 200 personnes défilent pour dénoncer le racisme et la discrimination dont elles se sentent victimes de la part de l’autorité souveraine.</figcaption>
			</figure>
  
			<p class="text-lg font-light mb-6">
				Autonome depuis 1979, le Groenland a son gouvernement, son drapeau et sa langue – le kalaallisut. En revanche, la politique étrangère et monétaire ainsi que la justice dépendent encore de Copenhague. En 2009, le territoire a enfin obtenu le contrôle total de ses ressources naturelles, mais les récentes manœuvres expansionnistes de Donald Trump sur l’île ont ravivé les aspirations indépendantistes des habitants inuits qui rêvent de s’émanciper du Danemark.
			</p>
  
			<figure class="float-right pt-4 pb-6 -mx-0 lg:-mx-32 xl:-mx-64">
			  <div class="container">
				<div class="w-full">
				  <img
					src="img/this/groenland_ch3_manif_biais.jpg"
					alt="Au mur, de l'humour et de la prévention sur fond acidulé"
				  />
				  <figcaption class="py-2 text-xs">
					Au sein des manifestants, on peut apercevoir le Premier ministre groenlandais, Mute Egede.
				  </figcaption>
				</div>
			  </div>
			</figure>

			<p class="text-lg font-light mb-6">
				Si l’ambiance est électrique dans les rues de Nuuk à quelques jours des élections législatives anticipées du 11 mars, elle est plus feutrée au Neko Café, où Kuno Fencker nous a donné rendez-vous. Le député de 50 ans, en campagne électorale, est un homme pressé. Et fâché. Il vient de claquer la porte du parti de la coalition gouvernementale bipartite Siumut («En avant») pour rejoindre la formation indépendantiste Naleraq. 
			</p>

			<p class="text-lg font-light mb-6">
				«Cela fait 46 ans (ndlr: En 1979, date à laquelle l'autonomie interne du Groenland est définitivement actée par la Constitution danoise) que les partis politiques trouvent des excuses pour ne pas organiser de référendum sur l’autodétermination de notre peuple. J’en ai marre, j’ai fait trop de concessions au Parlement. Notre peuple doit être indépendant!», fulmine celui qui se positionne à droite de l’échiquier politique.
			</p>

			<figure class="float-right pt-4 pb-6">
				<div class="container">
				  <div class="w-full">
					<img
					  src="img/this/groenland_ch3_lunettes.jpg"
					  alt="Au mur, de l'humour et de la prévention sur fond acidulé"
					/>
					<figcaption class="py-2 text-xs">
						Pour le député indépendantiste Kuno Fencker, Donald Trump représente une occasion pour s’affranchir de la tutelle danoise.
					</figcaption>
				  </div>
				</div>
			</figure>

			<p class="text-lg font-light mb-6">
				Si l’indépendance est voulue par la grande majorité des partis politiques, le calendrier et les moyens pour y parvenir diffèrent, selon les formations. Car elle a un prix, cette indépendance. 4,4 milliards de couronnes danoises (près de 530 millions de francs suisses), le montant de la contribution que verse annuellement Copenhague au Groenland. Soit la moitié de son budget.
			</p>

			<p class="text-lg font-light mb-6">
				Aux yeux de Kuno Fencker, un rapprochement avec les Etats-Unis de Donald Trump permettrait de s’affranchir de la tutelle danoise en créant de nouvelles opportunités économiques, notamment en développant l’exploitation des minerais et le tourisme. Et le plus vite sera le mieux.
			</p>

			<p class="text-lg font-light mb-6">
				Un mariage contre nature? Kuno Fencker soupire: «Les gens ne comprennent pas bien Trump. Ses propos sont souvent mal interprétés. On le dépeint comme le grand méchant loup. Mais le grand méchant loup, c’est le Danemark, qui, nous a annexés en 1953, sans référendum. Ils ne valent pas mieux que les autres colons.»
			</p>

			<p class="text-lg font-light mb-6">
				Pipaluk Lynge, députée, membre du parti Inuit Ataqatigiit (IA), formation de gauche à tendance écologiste à la tête du gouvernement, l’avoue. Les menaces de Trump ont mis ses nerfs et ceux des Groenlandais à rude épreuve. «Quand on voit le traitement qu’il réserve aux minorités, comme les Inuits d’Alaska, les Portoricains ou encore les Afro-Américains, il y a de quoi prendre peur. Nous ne sommes pas à vendre», s’exclame-t-elle dans la salle de l’Inatsisartut, le Parlement groenlandais. 
			</p>

			<figure class="float-right pt-4 pb-6 -mx-0 lg:-mx-32 xl:-mx-64">
				<div class="container">
				  <div class="w-full">
					<img
					  src="img/this/groenland_ch3_pipaluk.jpg"
					  alt="Au mur, de l'humour et de la prévention sur fond acidulé"
					/>
					<figcaption class="py-2 text-xs">
						Les menaces de Trump inquiète la députée de la gauche écologiste, Pipaluk Lynge. «Les droits humains, celui des femmes et de la communauté LGBT reculent aux USA depuis l'élection de Donald Trump. On ne veut surtout pas que ça arrive ici.»
					</figcaption>
				  </div>
				</div>
			</figure>
  
			<p class="text-lg font-light mb-16 md:mb-20">
				Assise sur une chaise en fourrure de phoque, celle qui s’est fait connaître en militant pour interdire l’exploitation d’uranium au Groenland, n’exclut pas une coopération avec les USA, mais «selon nos conditions. Pas les leurs. Je ne suis pas naïve, les Américains n’ont jamais aidé qui que ce soit à devenir indépendant. C’est à nous de travailler pour l’obtenir, de forger de nouvelles alliances et de nous rapprocher de l’Europe. La députée l’affirme: Si nous restons isolés, nous risquons de voir la Chine, la Russie, ou même les États-Unis débarquer. Et nous annexer.»
			</p>
		</div>

		<!-- ch4 vid -->
		<div class="-mx-4 md:flex flex-row relative overflow-hidden aspect-square md:aspect-video">
			<!-- Video Wrapper -->
			<div class="video-wrapper absolute inset-0 h-full">
				<!-- Video Background -->
				<video data-src="https://player.vimeo.com/progressive_redirect/playback/1061987266/rendition/1080p/file.mp4?loc=external&signature=16fd090609a860b164c6e348583e65f7705a12984c9b53769078e91e3d81c12f&user_id=196343104" 
					class="w-full h-full object-cover video-js"
					autoplay muted loop playsinline 
					poster="img/this/poster-camion.jpg">
					<source type="video/mp4"/>
				</video>
				<!-- Placeholder (image de fond affichée avant le chargement de la vidéo) -->
				<div class="video-placeholder absolute inset-0 w-full h-full bg-cover bg-center"
					style="background-image: url('img/this/poster-camion.jpg')">
				</div> 
			</div>
		</div>

		<!-- ch4 txt -->
		<div class="container mt-8 max-w-2xl relative"> 
			<div class="text-center -mt-20 bg-white text-2xl md:text-5xl font-extrabold md:-mx-6 px-6 py-4 md:py-8  mb-4 md:mb-6"
			>
			Une jeunesse en quête d’identité
			</div>
  
			<p class="lettrine text-lg font-light mb-6">
				Les joues rosies par le froid, un cache-fourrure à la main, Nivi Rosing s’installe à la hâte sur l’une des banquettes en velours du Caffè Pascucci, lieu de rencontre de la jeunesse branchée de Nuuk. Le temps lui file entre les doigts depuis qu’elle a annoncé sa candidature aux élections législatives du 11 mars, sous les couleurs d’Inuit Ataqatigiit, la gauche écologiste. Et à seulement 21 ans, cette tiktokeuse compte bien décrocher un des 31 sièges de l’Inatsisartut, le Parlement groenlandais.
			</p>

			<!-- DOUBLE -->
			<figure class="pt-4 pb-6">
				<div class="grid gap-4 md:grid-cols-2">
				  <div class="">
					<img
					  src="img/this/groenland_ch4_nivi.jpg"
					  alt="Les cahiers de sébastien, sous l'emprise de la drogue"
					/>
					<!-- <figcaption class="py-2 text-xs">
						kikiki
					  Dans la partie laboratoire du bâtiment de Carrouge, Arnaud
					  Porta, diplômé en biologie de l'Université de Lausanne (UNIL),
					  aide un collaborateur à réaliser une huile de CBD.
					</figcaption> -->
				  </div>
				  <div class="">
					<img
					  src="img/this/groenland_ch4_jeuneh.jpg"
					  alt="Les cahiers de sébastien, sous l'emprise de la drogue"
					/>
					<!-- <figcaption class="py-2 text-xs">
					  Chaque geste et chaque mesure compte. Arnaud Porta connaît ses
					  outils et veille au grain.
					</figcaption> -->
				  </div>
				</div>
				<figcaption class="py-2 text-xs">À 21 ans, la tiktokeuse Nivi Rosing se présente pour la première fois aux élections législatives. Elle est l'une des porte-voix de la jeunesse inuite. Jose s'est fait tatouer le visage, une pratique bannie par les missionnaires danois.</figcaption>
			  </figure>
  
			<!-- <figure class="pt-4 mx-0 pb-6">
			  <div class="container">
				<div class="w-full">
				  <img
					src="img/this/ch2-masque-zoom.jpg"
					alt="Au mur, de l'humour et de la prévention sur fond acidulé"
				  />
				  <figcaption class="py-2 text-xs">Annelore allume le bong et s'apprête à s'envoler vers son paradis artificiel. </figcaption>
				</div>
			  </div>
			</figure> -->
  
			<p class="text-lg font-light mb-6">
				 <a href="https://www.tiktok.com/@nivirosingia?lang=cs-CZ" target="_blank" class="decoration-2 underline font-semibold">Sur TikTok</a>, la jeune femme qui parle danois et anglais, s’adresse à ses followers en kalaallisut – la langue inuite. «Ma génération veut se réapproprier son identité, remettre au goût du jour les traditions de nos ancêtres, dit-elle. Elles nous ont été arrachées par la puissance coloniale danoise.» Nivi tend ses mains tatouées de lignes et de points noirs, symbole de son appartenance au peuple inuit. «Les tatouages ont été bannis par les missionnaires durant la colonisation», rappelle-t-elle.
			</p>

			<div class="mt-8 -mx-0 lg:-mx-32 xl:-mx-64 relative aspect-video mb-8">
				<iframe 
				  src="https://player.vimeo.com/video/1063121193?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" 
				  class="absolute top-0 left-0 w-full h-full"
				  frameborder="0"
				  allow="autoplay; fullscreen; clipboard-write; encrypted-media" 
				  title="Alessia Plan 2">
				</iframe>
			</div>

			<p class="text-lg font-light mb-6">
				Les rancœurs envers Copenhague ne datent pas d’hier, mais un vent nouveau souffle sur Nuuk. Il a fait émerger un mouvement critique à l’égard du colonialisme dont l’étudiante est l’une des porte-voix. C’est le scandale des stérilisations forcées dans les années 1960-1970, révélé par un podcast danois en 2022, qui a poussé l’étudiante à s’engager. Des milliers de femmes inuites ont été stérilisées de force par l’Etat danois, désireux de réguler le taux de natalité de l’île, jugé trop élevé. 
			</p>

		   <p class="text-lg font-light mb-6">
				À l’époque, Copenhague, qui rêve de transformer cette province arctique en un «Danemark du Nord», pousse les Inuits à changer leur mode de vie et déplace des villages entiers de pêcheurs et de chasseurs dans des blocs d’habitations en zones périurbaines. Et les problèmes d’alcoolisme et de suicide ont alors explosé.
			</p>

			<figure class="float-right pt-4 pb-6">
				<div class="container">
				  <div class="w-full">
					<img
					  src="img/this/groenland_ch4_mains_nini.jpg"
					  alt="Au mur, de l'humour et de la prévention sur fond acidulé"
					/>
					<figcaption class="py-2 text-xs">
						Les mains de Nivi Rosing sont tatouées de motifs traditionnels inuits. Une manière pour elle de se réapproprier «une culture détruite par 300 ans de colonialisme danois».
					</figcaption>
				  </div>
				</div>
			</figure>

			<!-- <figure class="float-right pt-4 pb-6 -mx-0 lg:-mx-32 xl:-mx-64">
				<div class="container">
				  <div class="w-full">
					<img
					  src="img/this/groenland_ch4_maiins_malina.jpg"
					  alt="Au mur, de l'humour et de la prévention sur fond acidulé"
					/>
					<figcaption class="py-2 text-xs">
					  Les produits de Green Brothers, ici de l'huile de CBD, sont
					  distribués dans une trentaine de pays.
					</figcaption>
				  </div>
				</div>
			</figure> -->

			<p class="text-lg font-light mb-6">
				«Nous avons l’un des taux de suicide par habitant les plus élevés au monde (80 par 100’000 habitants», déplore Maliina Abelsen. Et gare à ceux qui seraient tentés de l’expliquer par la rudesse des conditions météorologiques au Groenland. «Ce n’est pas une coïncidence si ces taux sont aussi dramatiques chez les peuples indigènes du Canada, d’Australie ou de Nouvelle-Zélande. Toutes sont des sociétés postcoloniales. La seule différence, c’est qu’au Groenland, nous sommes la majorité. Ailleurs, les chiffres sont noyés dans les statistiques nationales.»
			</p>

			<p id="chart-title" class="text-normal font-semibold">
				Nombre de suicides par 100'000 habitants (données de 2019)<br><span class="text-sm font-base opacity-50">Donnée: OMS</span>
			</p>
			<div id="chart"></div>

			<p class="text-lg font-light mb-6">
				Les jeunes sont les plus touchés. «Ils cherchent un sens, une appartenance. C’est difficile quand on vous rabâche que votre culture et votre identité ne valent rien. Ces traumatismes se transmettent de génération en génération», explique la sociologue. 
			</p>

			

			<p class="text-lg font-light mb-6">
				Du suicide, Pilutaq Lundblad, rappeur au sein du duo groenlandais Toornat, en parle dans l’un de ses titres. «Ici, tout le monde connaît quelqu’un qui s’est suicidé. C’est devenu tellement banal qu’on n’éprouve même plus de tristesse», reconnaît-il. 
			</p>

			<!-- <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1063121193?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; clipboard-write; encrypted-media" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="NINI FINAL"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script> -->
  
			<figure class="float-right pt-4 pb-6 -mx-0 lg:-mx-32 xl:-mx-64">
				<div class="container">
				  <div class="w-full">
					<img
					  src="img/this/groenland_ch4_pilut.jpg"
					  alt="Au mur, de l'humour et de la prévention sur fond acidulé"
					/>
					<figcaption class="py-2 text-xs">
						Pilutaq Lundblad, rappeur au sein du duo groenlandais Toornat, devant la baie vitrée de son appartement, perché sur les hauteurs de Nuuk.
					</figcaption>
				  </div>
				</div>
			</figure>
  
			<p class="text-lg font-light mb-6">
				Dans ses textes, il évoque les difficultés de grandir à Nuuk, des problèmes d’alcoolisme et de drogues. Mais aussi le poids de l’histoire coloniale et la relation compliquée avec le Danemark qui en découle. «Pour beaucoup de jeunes, la seule issue, c’est d’aller étudier là-bas où ils font face au racisme. On ne nous traite pas en égaux.»

			</p>
  
			
  
			<p class="text-lg font-light mb-16 md:mb-20">
				Tout de noir vêtu, chaîne en or autour du cou, il observe l’océan depuis la baie vitrée de son appartement flambant neuf perché sur les hauteurs de la capitale arctique. Il tient à nous rassurer. «On ne fait pas que des morceaux glauques. On fait des trucs plus légers aussi. Le titre qui nous a fait connaître s’intitule "Enlève tes pantalons". On a tourné un clip sexy avec des nanas à moitié à poil. On pensait que ça allait faire scandale, mais finalement… c’est ce qui a lancé notre carrière!»
  
			</p> 
		</div>

		<!-- ch5 vid -->
		<div class="-mx-4 md:flex flex-row relative overflow-hidden aspect-square md:aspect-video">
			<!-- Video Wrapper -->
			<div class="video-wrapper absolute inset-0 h-full">
				<!-- Video Background -->
				<video data-src="https://player.vimeo.com/progressive_redirect/playback/1061984856/rendition/1080p/file.mp4?loc=external&signature=3c63a4f4b81d18b98b97416bd66a9ae0f74938c844778ae6e89f0e57d93d44d6&user_id=196343104" 
					class="w-full h-full object-cover video-js"
					autoplay muted loop playsinline 
					poster="img/this/poster-boxe.jpg">
					<source type="video/mp4"/>
				</video>
				<!-- Placeholder (image de fond affichée avant le chargement de la vidéo) -->
				<div class="video-placeholder absolute inset-0 w-full h-full bg-cover bg-center"
					style="background-image: url('img/this/poster-boxe.jpg')">
				</div> 
			</div>
		</div>

		<!-- ch5 txt -->
		<div class="container mt-8 max-w-2xl relative"> 
			<div class="text-center -mt-20 bg-white text-2xl md:text-5xl font-extrabold md:-mx-6 px-6 py-4 md:py-8  mb-4 md:mb-6"
			>
				Fight Club Nuuk : boxer pour survivre
			</div>
  
			<p class="lettrine text-lg font-light mb-6">
				Il a fallu la trouver cette salle de boxe, planquée dans un des blocs de béton qui parsèment Nuuk. Même Google Maps en perd son latin. Pourtant, le fondateur du Fight Club nous attend de pied ferme dans les vestiaires de ce gymnase où un pauvre radiateur menace de rendre le peu d'âme qu'il lui reste.
			</p>
  
			<!-- <figure class="pt-4 mx-0 pb-6">
			  <div class="container">
				<div class="w-full">
				  <img
					src="img/this/ch2-masque-zoom.jpg"
					alt="Au mur, de l'humour et de la prévention sur fond acidulé"
				  />
				  <figcaption class="py-2 text-xs">Annelore allume le bong et s'apprête à s'envoler vers son paradis artificiel. </figcaption>
				</div>
			  </div>
			</figure> -->

			<!-- DOUBLE -->
			<figure class="-mx-0 lg:-mx-32 xl:-mx-64 pt-4 pb-6">
				<div class="grid gap-4 md:grid-cols-2">
				  <div class="">
					<img
					  src="img/this/groenland_ch5_vestiaire.jpg"
					  alt="Les cahiers de sébastien, sous l'emprise de la drogue"
					/>
					<!-- <figcaption class="py-2 text-xs">
					  Dans la partie laboratoire du bâtiment de Carrouge, Arnaud
					  Porta, diplômé en biologie de l'Université de Lausanne (UNIL),
					  aide un collaborateur à réaliser une huile de CBD.
					</figcaption> -->
				  </div>
				  <div class="">
					<img
					  	src="img/this/groenland_ch5_salle.jpg"
					  alt="Les cahiers de sébastien, sous l'emprise de la drogue"
					/>
					<!-- <figcaption class="py-2 text-xs">
					  Chaque geste et chaque mesure compte. Arnaud Porta connaît ses
					  outils et veille au grain.
					</figcaption> -->
				  </div>
				</div>
				<figcaption class="py-2 text-xs">Quatre fois par semaine, le Fight Club Nanoq accueille une vingtaine de jeunes, souvent désœuvrés et en manque de repères. Ici, on prend soin de leur santé mentale et physique.</figcaption>
			  </figure>
  
			<p class="text-lg font-light mb-6">
				L'air est aussi glacial que Mahmoud Minaei est chaleureux. Cet Iranien de 56 ans au crâne rasé a fui son pays pour recommencer une nouvelle vie au Danemark, puis au Groenland. En 2008, il fonde ce club de boxe. Depuis, plusieurs fois par semaine, il accueille une vingtaine de jeunes groenlandais, garçons comme filles, souvent désœuvrés et en manque de repères. Il leur enseigne évidemment les rudiments de ce sport de combat. Mais aussi une discipline. «On leur donne un cadre. Ici, on leur apprend le respect. D'abord, pour eux-mêmes, puis pour les autres», explique Mahmoud Minaei.
			</p>

			<figure class="mx-auto w-3/4 pt-4 mx-0 pb-6">
			  <div class="container">
				<div class="w-full">
				  <img
					src="img/this/groenland_ch5_mahmoud.jpg"
					alt="Au mur, de l'humour et de la prévention sur fond acidulé"
				  />
				  <figcaption class="py-2 text-xs">Le coach Mahmoud Minaei, au centre du gymnase. «Ici, on leur donne des outils pour qu'ils avancent dans la vie. On développe leur confiance en eux.»</figcaption>
				</div>
			  </div>
			</figure>
  
			<!-- DOUBLE -->
			<!-- <figure class="-mx-0 lg:-mx-32 xl:-mx-64 pt-4 pb-6">
			  <div class="grid gap-4 md:grid-cols-2">
				<div class="">
				  <img
					src="img/this/ch2_huile_fab1.jpg"
					alt="Les cahiers de sébastien, sous l'emprise de la drogue"
				  />
				  <figcaption class="py-2 text-xs">
					Dans la partie laboratoire du bâtiment de Carrouge, Arnaud
					Porta, diplômé en biologie de l'Université de Lausanne (UNIL),
					aide un collaborateur à réaliser une huile de CBD.
				  </figcaption>
				</div>
				<div class="">
				  <img
					src="img/this/ch2_huile_fab2.jpg"
					alt="Les cahiers de sébastien, sous l'emprise de la drogue"
				  />
				  <figcaption class="py-2 text-xs">
					Chaque geste et chaque mesure compte. Arnaud Porta connaît ses
					outils et veille au grain.
				  </figcaption>
				</div>
			  </div>
			  <figcaption class="py-2 text-xs">Image 1: Jeanne enregistre les usagers, sous leur blase (tout est anonyme ici), au fur et à mesure qu'ils arrivent. Image 2: elle doit aussi indiquer, pour les statistiques, ce qu'ils comptent consommer et comment (voir les catégories de produits et d'usages ci-dessus).</figcaption>
			</figure> -->
  
			<p class="text-lg font-light mb-6">
				Au Fight Club Nanoq, on se tient à l'écart de la politique, de l'indépendance et des menaces de Donald Trump. Le Groenlandais d'adoption se marre: «Si l'Américain attaque, que veux-tu qu'on fasse de toute façon? On n'a pas de militaires ici.»
			</p>

			<p class="text-lg font-light mb-6">
				Les jeunes commencent à s'échauffer, ils trottinent dans la salle, en suivant les indications d'un assistant, un ancien élève du coach iranien. Une adolescente arrive en retard. L'entraîneur l'encourage d'un hochement de tête à rejoindre les autres. À voix basse, il souffle: «Son père est parti avec une autre femme, la laissant seule avec sa maman. Elle est complètement paumée.» Discrètement, il balaie la salle du regard. «Ces deux-là dorment à l'orphelinat. Lui, une proche s'est suicidée il y a quelque temps, indique-t-il en désignant un apprenti boxeur très concentré. Un de nos élèves aussi. C'est triste, il venait tous les jours.»
			</p>

			<!-- DOUBLE -->
			<figure class="-mx-0 lg:-mx-32 xl:-mx-64 pt-4 pb-6">
			  <div class="grid gap-4 md:grid-cols-2">
				<div class="">
				  <img
					src="img/this/groenland_ch5_sparing_large.jpg"
					alt="Les cahiers de sébastien, sous l'emprise de la drogue"
				  />
				  <!-- <figcaption class="py-2 text-xs">
					Dans la partie laboratoire du bâtiment de Carrouge, Arnaud
					Porta, diplômé en biologie de l'Université de Lausanne (UNIL),
					aide un collaborateur à réaliser une huile de CBD.
				  </figcaption> -->
				</div>
				<div class="">
				  <img
					src="img/this/groenland_ch5_sparing_girl.jpg"
					alt="Les cahiers de sébastien, sous l'emprise de la drogue"
				  />
				  <!-- <figcaption class="py-2 text-xs">
					Chaque geste et chaque mesure compte. Arnaud Porta connaît ses
					outils et veille au grain.
				  </figcaption> -->
				</div>
			  </div>
			  <figcaption class="py-2 text-xs">«Ici, on accueille tout le monde. Filles, garçons, adolescents sur le spectre. Tout le monde est le bienvenu ici», déclare Mahmoud Minaei.</figcaption>
			</figure>

			<p class="text-lg font-light mb-6">
				Au Groenland, le taux de suicide par habitant est l'un des plus élevés au monde. Entre 2015 et 2018, il était de 81,3 pour 100'000 habitants. En comparaison, la moyenne mondiale s'élève à 9 pour 100'000 habitants, selon les données de l'Organisation mondiale de la Santé (OMS) en 2019. En Suisse, il est de 14,5. L'alcoolisme est aussi très présent chez les jeunes, toujours selon l'OMS: 35% des 15 - 34 ans consomment épisodiquement une quantité massive d'alcool.
			</p>

			<p class="text-lg font-light mb-6">
				Le coach sait qu'il ne sauvera pas le monde. Mais il fait ce qu'il peut. Avec ses armes: «Ici, les gosses trouvent un refuge, une routine et des outils pour les guider dans la vie. Quand ils grandissent, on grandit avec eux», souffle celui qui, pour certains, est devenu une figure paternelle de substitution.
			</p>

			<div class="mt-8 -mx-0 lg:-mx-32 xl:-mx-64 relative aspect-video mb-8">
				<iframe 
				  src="https://player.vimeo.com/video/1063185957?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" 
				  class="absolute top-0 left-0 w-full h-full"
				  frameborder="0"
				  allow="autoplay; fullscreen; clipboard-write; encrypted-media" 
				  title="Alessia Plan 2">
				</iframe>
			</div>

		

			<p class="text-lg font-light mb-6">
				Quand il y a un problème à l'école, c'est Mahmoud qui y va. Un conflit à la maison? Encore le coach qui calme les esprits. «C'est un super entraîneur, il prend soin de nous et s'assure de notre santé physique et mentale, confie Emil, 19 ans, le visage rougi après sa séance d'entraînement. La boxe m'apprend à ne rien lâcher, même quand j'ai mal et à gérer ma colère. Tout ce que j'apprends ici, je peux l'appliquer dans la vie.»
			</p>
  
			<!-- <figure class="float-right pt-4 pb-6 -mx-0 lg:-mx-32 xl:-mx-64">
			  <div class="container">
				<div class="w-full">
				  <img
					src="img/this/ch2_huile_box.jpg"
					alt="Au mur, de l'humour et de la prévention sur fond acidulé"
				  />
				  <figcaption class="py-2 text-xs">
					Les produits de Green Brothers, ici de l'huile de CBD, sont
					distribués dans une trentaine de pays.
				  </figcaption>
				</div>
			  </div>
			</figure> -->

			<p class="text-lg font-light mb-6">
				En novembre dernier, le coach a emmené les adolescents au «King of the Ring», un tournoi de boxe en Suède. Une occasion en or pour ces jeunes qui n'ont presque jamais l'occasion de quitter le pays, les voyages en avion étant hors de prix. Quant au financement du voyage, il esquive: «On se débrouille. On se rend des services à gauche, à droite. La plupart ne peuvent pas payer.»
			</p>

			<!-- DOUBLE -->
			<figure class="-mx-0 lg:-mx-32 xl:-mx-64 pt-4 pb-6">
				<div class="grid gap-4 md:grid-cols-2">
				  <div class="">
					<img
					  src="img/this/groenland_ch5_tatoo1.jpg"
					  alt="Les cahiers de sébastien, sous l'emprise de la drogue"
					/>
					<!-- <figcaption class="py-2 text-xs">
					  Dans la partie laboratoire du bâtiment de Carrouge, Arnaud
					  Porta, diplômé en biologie de l'Université de Lausanne (UNIL),
					  aide un collaborateur à réaliser une huile de CBD.
					</figcaption> -->
				  </div>
				  <div class="">
					<img
						src="img/this/groenland_ch5_tatoo2.jpg"
						alt="Les cahiers de sébastien, sous l'emprise de la drogue"
					/>
					<!-- <figcaption class="py-2 text-xs">
					  Chaque geste et chaque mesure compte. Arnaud Porta connaît ses
					  outils et veille au grain.
					</figcaption> -->
				  </div>
				</div>
				<figcaption class="py-2 text-xs">Anguteeraq – petit homme en kallalisut –avait 13 ans lorsqu’il a mis les pieds pour la première fois dans ce gymnase. Il en a 27 ans aujourd'hui. Et c'est lui qui encadre les ados.</figcaption>
			</figure>

			<p class="text-lg font-light mb-6">
				Ce soir, Mahmoud a mal aux genoux. Il se déplace en clopinant. C'est Anguteeraq – petit homme en kallalisut – tignasse noire et T-shirt rouge qui encadre les jeunes. Il avait 13 ans lorsqu'il a mis les pieds pour la première fois dans ce gymnase. «J'étais timide, pas vraiment sûr de moi. J'ai appris à faire le vide, à gérer la part d'imprévisibilité inhérente à ce sport. On ne sait jamais ce que l'adversaire a en tête.»
			</p>

			
  
			<p class="text-lg font-light">
				Des élections législatives qui approchent, Anguteeraq se moque. «Je ne vote pas, la politique ne sert à rien. Ce sont les gens comme Mahmoud qui changent les choses. Il nous apprend à nous battre pour nos rêves.»
			</p>

			<div class="spacer h-12 md:h-16"></div>
		</div>

		

		  


        
		<!-- END OF CONTENT -->
      </div>

     
      

      <div class="container max-w-screen-2xl px-4 relative bg-white">
        <!-- <div class="font-extrabold uppercase py-6 border-y border-slate-400 mt-8 md:mt-16 mb-8 md:mb-12">
					Double peine pour les femmes?
				</div> -->

        <div class="container max-w-2xl pt-12"> 
         

          <!-- <span
            class="mt-4 block p-4 italic bg-gray-50 border-2 border-gray-100 text-sm mb-12"
            >Cet article a été publié initialement
            <a
              href="https://www.illustre.ch/"
              target="_blank"
              class="underline font-semibold decoration-2"
              >dans le n°06 de L'illustré</a
            >, paru en kiosque le 06 février 2025.</span
          > -->

          {{ block("credits") }}

          <div class="spacer h-16 md:h-36"></div>
        </div>
      </div>

      <footer class="container max-w-screen-2xl relative bg-slate-200">
        {{ block("footer_logo") }}
        <!-- <div class="bg-white px-4">
				{{ block('other_teasers') }} 
			</div> -->
        <div class="bg-gray-200 px-4">
          {{ block("footer_menu") }}
        </div>
      </footer>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

      {#
      <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
      #}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
      <script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.js"></script>
      <script src="js/counter-up.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
      <!-- <script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script> -->
	  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
      <!-- <script src="js/yt.js"></script>  -->
      <script src="js/vendor/modernizr-3.11.2.min.js"></script>
      <!-- <script src="js/plugins.js"></script> -->
      <script src="js/header.js"></script>
      <!-- <script src="js/charts.js"></script> -->
      <script src="js/main.js"></script>
      {#
      <script src="js/intro.js"></script>
      #}
      <!-- <script src="js/headroom.min.js"></script> -->
    </div>
  </body>
</html>
